body {
    background-color: black;
    margin: 0;
    padding: 0;
  }

.station-list {
    font-family: "Gill Sans Extrabold", sans-serif;
    margin: 20px;
    padding: 30px;
  }

  .station-header {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    font-weight: bold;
    padding: 8px 40px;
    background-color: #01809a;
    border-radius: 5px;
    color: white;
  }
  
  .station-item {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    background-color: black;
  }
  
  .available, .not-available {
    display: inline;
    margin-right: 130px;
    color: white;
    background-color: transparent;
    padding: 0;
  }

  .status-circle {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
  }

  .status-circle.available {
    background-color: lightgreen;
  }
  
  .status-circle.not-available {
    background-color: lightcoral; 
  }
  
  .status-text {
    color: white;
  }