.custom-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #44bb44;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .custom-notification.show {
    opacity: 1;
  }
  