.edit-station-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #01809a;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    margin: auto;
  }
  
  .edit-station-form__title {
    font-family: "Gill Sans Extrabold", sans-serif;
    
  }
  
  .edit-station-form__field {
    display: flex;
    align-items: center;
    margin: 10px 15px 25px;
  }  
  
  .edit-station-form__label {
    padding-right: 10px;
  }
  
  
  .edit-station-form__input,
  .edit-station-form__radio-group {
    flex: 3;
  }
  
  .edit-station-form__radio-group {
    display: flex;
    gap: 10px;
  }

  .edit-station-form__button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .edit-station-form__submit-button, .edit-station-form__close-button {
    flex: 1;
    margin: 0 5px;
    height: 25px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
  }
  
  .edit-station-form__submit-button{
    background-color: #0ab3ba;
    color: white;
  }
  
  .edit-station-form__close-button {
    background-color: #ff5e5b;
    color: white; 
  }
  