/* ChargingStationPage.css */

.charging-station-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .charging-station-page-content {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #892222;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  