.header {
    background-color: #0b0606;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .header__logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .logo {
    max-width: 150px;
  }
